@page
@model POE_Task_1.Pages.DonationsModel
@{
}
<br />
<br />
<br />
<br />

<section class="about container" id="about">
        <!-- Heading -->
        <h2 class="heading" style="font-size: 5rem; text-transform: uppercase; color: #c77dff; text-align: left; margin-bottom: 2rem;">Our Donations</h2>
        <!-- About Content -->
        <div class="about-content" style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 1.5rem;">
            <div class="about-data">
                <span style="font-size: 1rem; font-weight: 500; text-transform: uppercase; color:  #FF9F1C;">Monetary Donations</span>
                <h2 style="font-size: 2rem; line-height: 2.6rem; font-weight: 700; margin: 1rem 0;">Make A Memorable Difference In Someone's Life, <br> By Donating Money To Our Foundation.</h2>
                <a class="btn" style="font-size: 0.97rem; display: inline-flex; align-items: center; column-gap: 0.5rem; color: #fff; background:  #FF9F1C; padding: 12px 16px; border-radius: 0.4rem; margin-top: 1rem;" asp-area="" asp-page="/DonateMoney">Donate Money<i class='bx bx-download' style="font-size: 1.2rem;"></i></a>
            </div>
            <div class="about-data">
                <span style="font-size: 1rem; font-weight: 500; text-transform: uppercase; color:  #FF9F1C;">Goods Donations</span>
                <h2 style="font-size: 2rem; line-height: 2.6rem; font-weight: 700; margin: 1rem 0;">Help Those In Need During Tough Times, <br> By Donating Goods To Our Foundation.</h2>
                <a class="btn" style="font-size: 0.97rem; display: inline-flex; align-items: center; column-gap: 0.5rem; color: #fff; background:  #FF9F1C; padding: 12px 16px; border-radius: 0.4rem; margin-top: 1rem;" asp-area="" asp-page="/GoodsDonations">Donate Goods<i class='bx bx-download' style="font-size: 1.2rem;"></i></a>
            </div>
        </div>
</section>

