@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="~/css/site.css" />

    display: flex;
    align-items: center;
    
<section class="home container" style="min-height: 100vh;display: flex; align-items: center; justify-content: center; padding-top: 7rem; background: url(../images/home-two.jpg) no-repeat; background-size: cover; background-position: center; width: 100%;">
        <div class="home-content" style="position: relative; width: 100%; margin: auto; display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <div class="home-text" style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
                <h3 style="position: relative; display: flex; align-items: center; column-gap: 0.5rem; font-size: 1.1rem; color: #FF9F1C;">Welcome</h3>
                <h2 style="font-size: 3.5rem; line-height: 4.8rem;">We're <span class="color">The Disaster Alleviation Foundation</span></h2>
                <p style="font-size: 0.938rem; margin-bottom: 1.5rem;">
                    I'm <span class="color">ipsum dolor</span>, sit amet consectetur adipisicing elit. Magnam molestiae enim quis, est fugit unde id quisquam? Eligendi non aperiam, repellendus, ab minima, laborum nam ipsa autem unde consequuntur esse?
                    <br> Find out a bit more about us.
                </p>
                <!-- Social -->
                <div style="display: flex; align-items: center; column-gap: 0.5rem;">
                    <a href="#"><i class='bx bxl-twitter' style="font-size: 1.3rem; padding: 10px; border-radius: 30%; color: #fff; background: #c77dff;"></i></a>
                    <a href="#"><i class='bx bxl-facebook' style="font-size: 1.3rem; padding: 10px; border-radius: 30%; color: #fff; background: #c77dff;"></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt' style="font-size: 1.3rem; padding: 10px; border-radius: 30%; color: #fff; background: #c77dff;"></i></a>
                </div>
            </div>
        </div>
</section>
<br />
<br />

<section class="services container">
        <!-- Heading -->
        <h2 class="heading" style="font-size: 3rem; text-transform: uppercase; color: #c77dff; text-align: left; margin-bottom: 2rem;">Our Projects</h2><br />
        <!-- Services Content -->
        <div class="services-content" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 3rem;">
            <div class="services-box" style="display: flex; flex-direction: column; align-items: center; text-align: center; padding: 15px; background: #171b3c; border-radius: 0.4rem; transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);">
                <i class='bx bx-first-aid' style="font-size: 1.4rem; color: #FF9F1C; padding: 10px; border-radius: 5rem; border: 2px dashed #fff;"></i> 
                <h2 style="font-size: 1.1rem; font-weight: 500; margin: 0.5rem 0; color: #FF9F1C;">Disaster Aid</h2>
                <p style="font-size: 0.938rem; color: #fff;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, dolorem.</p>
            </div>
            <div class="services-box" style="display: flex; flex-direction: column; align-items: center; text-align: center; padding: 15px; background: #171b3c; border-radius: 0.4rem; transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);">
                <i class='bx bx-lock' style="font-size: 1.4rem; color: #FF9F1C; padding: 10px; border-radius: 5rem; border: 2px dashed #fff;"></i> 
                <h2 style="font-size: 1.1rem; font-weight: 500; margin: 0.5rem 0; color: #FF9F1C;">Goods Donations</h2>
                <p style="font-size: 0.938rem; color: #fff;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, dolorem.</p>
            </div>
            <div class="services-box" style="display: flex; flex-direction: column; align-items: center; text-align: center; padding: 15px; background: #171b3c; border-radius: 0.4rem; transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);">
                <i class='bx bx-wallet' style="font-size: 1.4rem; color: #FF9F1C; padding: 10px; border-radius: 5rem; border: 2px dashed #fff;"></i> 
                <h2 style="font-size: 1.1rem; font-weight: 500; margin: 0.5rem 0; color: #FF9F1C;">Monetary Donations</h2>
                <p style="font-size: 0.938rem; color: #fff;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, dolorem.</p>
            </div>
        </div>
</section>
<br />
<br />
<section class="about">

      <div class="flex" style="max-width: 1200px; margin: 0 auto; display: flex; align-items: center; flex-wrap: wrap;">

         <div class="image" style="flex: 1 1 40rem;">
            <img src="~/images/pictureone.jpg" alt="" style="width: 100%;">
         </div>

         <div class="content" style="flex: 1 1 40rem; padding: 2rem; background-color: #f5f5f5;">
            <h3 style=" font-size: 3rem; color: #333; text-transform: uppercase;">about us</h3>
            <p style="padding: 1rem 0; line-height: 2; font-size: 1.7rem; color: #666;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit quos enim minima ipsa dicta officia corporis ratione saepe sed adipisci?</p>
            <a href="about.php" class="btn btn-success">read more</a>
         </div>

      </div>

</section>
<br />
<br />


   <section class="home-contact" style=" background-color: #333;">

      <div class="content" style="max-width: 60rem; text-align: center; margin: 0 auto;">
         <h3 style="font-size: 3rem; text-transform: uppercase; color: #fff;">have any questions?</h3>
         <p style="padding: 1rem 0; line-height: 1.5; color: #ccc; font-size: 1.7rem;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque cumque exercitationem repellendus, amet ullam voluptatibus?</p>
         <button type="button" class="btn btn-info">Contact Us</button>
      </div>

   </section>

<br />
<br />

<section class="contact container" id="contact">
        <!-- Heading -->
        <h2 class="heading" style="font-size: 3rem; text-transform: uppercase; color:  #c77dff; text-align: left; margin-bottom: 2rem;">Send Us A Message</h2>
        <!-- Contact Form -->
        <form action="" class="contact-form" id="contact-form" style="max-width: 600px; margin: auto; width: 100%; display: grid; row-gap: 1rem;">
            <input type="text" placeholder="Your Name" style="border: none; outline: none; font-size: 0.9rem; padding: 15px; color: #fff; background: #ffc971; border-radius: 0.4rem;" class="name" required">
            <input type="email" name="" id="" placeholder="Email address..." style="border: none; outline: none; font-size: 0.9rem; padding: 15px; color: #fff; background: #ffc971; border-radius: 0.4rem;" class="email" required>
            <textarea name="" id="" cols="30" rows="10" placeholder="Write message here..." style="border: none; outline: none; font-size: 0.9rem; padding: 15px; color: #fff; background: #ffc971; border-radius: 0.4rem;" class="message" required></textarea>
            <input type="submit" value="Send" style="width: 120px; font-size: 1rem; letter-spacing: 1px; border-radius: 0.4rem; font-weight: 500; text-transform: uppercase; padding: 12px; background: #FF9F1C; cursor: pointer;" class="send-btn" >
        </form>
</section>
<br />
<br />

