@page
@model POE_Task_1.Pages.StatsModel
@{
}
<br />
<br />
<br />
<br />
<br />
<h1>Total monetary donations received</h1><br />
<h1>Total number of goods received</h1><br />
<h1>Currently active disasters</h1>